In [3]:
from google.cloud import bigquery 

client = bigquery.Client(project="sql-sandbox-435415")

query = """
    SELECT name, gender, number
    FROM `bigquery-public-data.usa_names.usa_1910_2013`
    WHERE state = 'TX'
    ORDER BY number DESC
    LIMIT 10
"""

df = client.query(query).to_dataframe()
print(df)

          name gender  number
0        Linda      F    5061
1  Christopher      M    4982
2  Christopher      M    4969
3  Christopher      M    4965
4        Linda      F    4947
5  Christopher      M    4912
6        Linda      F    4814
7        David      M    4771
8        David      M    4710
9  Christopher      M    4642

In [ ]:
print ('ciao')